body,
button,
input,
select,
textarea {
  font-family: 'Open Sans', sans-serif;
}
.has-text-primary {
  color: #33b760 !important;
}
.is-primary {
  background-color: #33b760 !important;
}
.is-secondary {
  background-color: #e9f8ef;
}
.has-font-primary {
  font-family: 'Nunito', sans-serif;
}
